
/* this is the grid layout for our index page*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    padding: 2rem;
    background: #fff;
}

/* This is for our chat with ChatGPT */

.chat-grid{
    display: grid;
    grid-template-columns: 1fr 1fr; /* generate two rows*/
    gap: 2rem;
}

/* as we split tha page in two we have "two panels" */
/* this is just a place holder */
.left-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*Right panel - input and output */
.right-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* the boks for user input */
#user-input{
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border-color: crimson;
}

#send-btn {
    align-self: flex-end;
    padding: 0.5rem 1rem;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#send-btn:hover {
    background-color: #005fa3;
}

/* the boks for response output */
#response-box {
    padding: 1rem;
    background-color: #eef;
    border-radius: 8px;
    min-height: 100px;
    border: 1px solid #ccc;

}